fastapi[all]
uvicorn
supabase==2.3.4
gotrue==2.4.2
httpx==0.25.2
pydantic>=2.0
pydantic-settings
bcrypt
python-jose[cryptography]
python-multipart
twilio
pytest
python-dotenv
pytz

pyotp
slowapi
pytest-asyncio
